.lc_selector{
  border: 1px solid #fff;
  width: 98vw;
  height: 10%;
  margin: 10px auto;

  display: flex;
  flex-direction: row;
}

.selector_item {
  border: 1px solid #fff;
  border-radius: 10px;
  margin: auto 5px;
  padding: 0 10px;
  height: 50px;
  width: auto;
  text-align: center;
  line-height: 50px;
  font-variant: small-caps;
}

.selector_item:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
}