*{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  color: #FFFFFF;
}

*:hover {
  cursor: default;
}

.App{
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  overflow: hidden;
}