*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  user-select: none;
  overflow: hidden;
}

*:hover {
  cursor: default;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 10px;
  padding-left: 10px;
  color: #fff;
}
input:focus{
  outline: none;
}