.creator_board{
  width: 100%;
  height: 100%;
  /* background-color: #3B3B3B; */
  background-color: transparent;
  position: relative;
}
.board_item {
  position: absolute;
  width: auto;
  height: 30px;

  padding: 0 10px;
  border: 1px solid #3b3b3b;
  border-radius: 10px;

  color: white;
  text-align: center;
  font-variant: small-caps;
  line-height: 30px;
}

.board_item:hover {
  cursor: pointer;
}
/* .creator_board > h1 {
  color: #757575;
  margin: auto;
} */