.lc_creator{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  border: 1px solid #fff;
  width: 98vw;
  height: 100%;
  margin: 0 auto;
}

.creator_redzone{
  height: 100%;
  width: 20px;
  opacity: 1;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg, 
    #f74545 0, 
    #f74545 1px,
    #ffffff00 0,
    #ffffff00 50%);
}
.creator_redzone:hover{
  cursor: pointer;
}