.creator_inputs {
  position: relative;
}
.input_circle{
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #3b3b3b;
  background-color: #fff;
}

.circle_activated{
  background-color: #ec2239;
}

.small_dot{
  width: 10px;
  height: 10px;
  border-radius: 100%;
  
  position: absolute;
  top: 5px;
  left: 25px;

  background-color:#fff;
  z-index: 9;
}
.small_dot:hover{
  cursor: pointer;
}
.dot_activated{
  background-color: #ec2239;
}