.lc_form{
  border: 1px solid #fff;
  width: 98vw;
  height: 10%;
  background-color: #3b3b3b;
  margin: 10px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.lc_form > input {
  height: calc(10vh - 10px);
  width: 100%;
  background-color: transparent;
  color: #fff;

  padding-left: 20px;
  font-size: xxx-large;
}
.lc_form > input:hover {
  cursor: text;
}
.lc_form > button {
  height: 100%;
  width: 150px;
  background-color: transparent;
  box-shadow: 0px 0px 20px 1px #186A14;
  color:#ffffff;
  font-size: xx-large;
}
.lc_form > button:hover {
  cursor: pointer;
}
